
.timer-block {
  color: #000;
  margin-bottom: 20px;
}

.converter-wrapper {
  color: #000;
  margin-bottom: 20px;
}
.converter-wrapper.local {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.input-field-border {
  color: #000;
}

.input-field-block {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 20px;
}
.input-field-block input {
  width: 400px;
}
.input-field-block span {
  display: flex;
  padding-right: 20px;
}

.input-field-border::after {
  position: absolute;
  content: "|";
  width: 10px;
  height: 30px;
  top: 42%;
  right: 0%;
}
.input-field-border input {
  max-width: 80px;
  width: 100%;
}
.input-field-border:last-child::after {
  content: none;
}

.local-container {
  flex-basis: 45%;
  max-width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 30px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 20px;
}

.readOnly input{
  cursor: not-allowed;
}

@media (max-width: 1024px) {
  .local-container {
    max-width: 94%;
    flex-basis: 94%;
    margin: 20px;
    padding: 20px;
    display: flex;
    width: 84%;
  }
}
