.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  margin: 20px auto;
  flex-flow: row;

}

@media(max-width:1024px){
  .container{
    flex-flow: column;
    padding:0px;
    margin:0px;
  }
}