.input-field {
  max-width: 300px;
}
section .timer-block {
  color: #000;
}

section .convert-wrapper {
  color: #000;
}
.utc-container {
  flex-basis: 45%;
  max-width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 30px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 20px;
}
footer {
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 1024px) {
  .utc-container {
    max-width: 94%;
    flex-basis: 94%;
    margin: 20px;
    padding: 20px;
    display: flex;
    width: 84%;
  }
}
